/*general para todo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}
h1 {
    color: $color-principal;
    font-size: 2.4rem;
    margin: 25px;
    text-align: center;
}
body{
    overflow-x: hidden;
}
/*header */
header{
    border: 2px solid $color-principal;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    
    .encabezado_logo img {
        width: 230px;
        height: 70px;
        margin-left: 20px;
      }
    .containerNav div form{
        margin-left: 15px;
      }
    nav{
          .container-fluid{
            .navbar-collapse{
              flex-grow: initial;
            }
               ul{
                li{
                  a{    
                    font-size: 1.2rem;
                    
                    &:hover{
                    color:map-get($coloresNavs , colorNavItems );
                    .dropdown-item{
                      &:active{
                        background-color:rgb(207, 212, 202) ;
                      }
                      &:hover{
                        background-color: map-get($coloresNavs , colorFondoNav);
                      }
                    }
                    }
                   }
                   .activeNav{
                    color:map-get($coloresNavs ,colorNavItems );;
                   } 
                }
               }  
               form input:focus{
                border:4px solid map-get($coloresSecundarios,"$color-secundario1");
                box-shadow: none;
                } 
              
            }
       }
}
/*footer */
.footer{
    border-top: $border-principal;
    font-size: 1.2rem;
    color: $color-principal;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;

    h3 {
        font-size: 1.5rem;
        color: rgb(9, 85, 9);
        margin-left: 30px;
      }
      .footerLeft{
           ul{
            display: flex;
            justify-content: center;
            list-style: none;
           }
           li{
             margin: 15px;
             padding: 15px;
           }
           .footer__facebook {
            color: #3b5998;
            text-decoration: none;
            padding: 15px;
            font-size: 1.6rem;
          }
          .footer__instagram {
            color: #ce9a0b;
            text-decoration: none;
            padding: 15px;
            font-size: 1.6rem;
          }
          .footer__linkedin {
            color: #0072b1;
            text-decoration: none;
            padding: 15px;
            font-size: 1.6rem;
          }
      }
      .footerRightMedium{
        ul{
            @include flexboxColumnJustify(space-evenly);
            list-style: none; 

            li{
                padding-top: 5px;
                   a{
                    text-decoration: none;
                    color: $color-principal;
                    &:hover{
                        border-bottom: 1px solid rgb(9, 85, 9);
                    }
                }
            }
            li:last-child{
                position: relative;

            }
            .BtnBoostrap{
                .btn-light{
                    background: none;
                    border: none;
                    outline: none;
                    color:$color-principal;
                    font-size: 1.2rem;
                }
                .inputDivCookiesFooter form label{
                    font-size: 1.0rem;
                    padding: 5px;
                  }
                          .modalTerminos{
                            display: none;
                          }
                          .divTerminosContainer{
                            width: 70vw;
                            height: 650px;
                            overflow-y: scroll;
                            padding: 20px;
                            position:relative; 
                             right: 170px;  
                            background-color: white;
      
                            .divLeft{
                              overflow-x: auto;
                              display: flex;
                              flex-direction: column;
                              align-items: flex-start;
                              a{
                                font-size: 1.2rem;
                                border-radius: 3px;
                                &:hover{
                                  background-color: map-get($coloresSecundarios,"$color-secundario1");
                                  color:white
                                }
                              }
                            }
                            .divRightTerminos{
                               margin-right: 0px;
                              h4,h5{
                               color: rgb(11, 39, 2);

                              }
                              p{
                                font-size: 1.1rem;
                            }
                           }
                          } 
                            .modal-Terminos{
                              width: 70vw; 
                             display: flex;

                             justify-content: space-between;
                             background-color: white;
                             padding: 15px 0px 10px 0px;
                          position:relative; 
                             right: 170px;   

                          } 
            } 
        }
      }
      .footerCopyright {
        border-top: $border-principal;
        margin-top: 40px;
        grid-column: 2/3;
        position: relative;
        font-size: 1.4rem; 
        
           /*  h4{
               position: relative;
                font-size: 1.4rem; */
                .divFooterHover{
                  position: absolute;
                  display: none;
                  bottom:  25px;
                  @include  contrastePrincipal(5px);
                  width: 470px;
                }
                &:hover{
                color:rgb(4, 65, 4);
                cursor:pointer
                }
                &:hover div{
                  display: block;
                  }

          /*   } */
            i {
                color: black;
              }
        }
  }  
/*breadcrumb Boostrap */
.breadcrumb{
  display: flex;
  margin:10px;

  li{
    margin:5px
  }
}