.serviciosContainer{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(3 , 350px);

    div{
        display: flex;
        margin-top:15px;

        .iconRight {
            width: 40%;
            font-size: 2.0rem;
            height: 100%;
            @extend %flexboxCenterCenter
        }
      }
   .serviciosArreglo{
    grid-column: 1/5;
    margin-left:15px ;
    background-color:rgb(4, 38, 151);
    border-radius: 5%;
    color:map-get($coloresSecundarios , "$colorFuenteSecundario" );
    .divLeft {
      @include flexboxColumnJustify(space-around);
        width: 60%;
        height: 100%;
        padding: 20px;
    }
  }
                                    
  .serviciosTuneo{
    grid-column: 4/8 ;
    margin-right: 15px;
    background: rgb(23, 105, 6);
    border-radius: 5%;
    color:map-get($coloresSecundarios , "$colorFuenteSecundario" );
    .divLeft {
        @include flexboxColumnJustify(space-around);
        width: 60%;
        height: 100%;
        padding: 20px;
    } 
  }                                      
  .serviciosCursos{
    grid-column: 2/4;
    padding: 15px;
    grid-row: 3/4;
    height: 90%;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(4, 38, 151); 
    color:map-get($coloresSecundarios , "$colorFuenteSecundario" );
    border-radius: 5%;

    .divTop{
        height: 75%;
        width: 100%;
        display: flex;
        color:map-get($coloresSecundarios , "$colorFuenteSecundario" );
        flex-direction: column;
        font-size: 0.9rem;
    }
    .iconButton{
        height: 25%;
        font-size: 2.0rem;
        width: 100%;
        @extend %flexboxCenterCenter
      }
  }                            
  .serviciosVende{
    grid-column: 5/7;
    padding: 15px;
    grid-row: 3/4;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(23, 105, 6); ;
    color:map-get($coloresSecundarios , "$colorFuenteSecundario" );
    border-radius: 5%;
        .divTop{
            height: 75%;
            width: 100%;
            display: flex;
            color :map-get($coloresSecundarios , "$colorFuenteSecundario" );
            flex-direction: column;
            font-size: 0.9rem;
            a{
              text-decoration: none;
              color:azure;
            }
        }
        .iconButton{
            height: 25%;
            width: 100%;
            @extend %flexboxCenterCenter;
            font-size: 2.0rem;
        }
   }   
  
} 