.serviciosContainer{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(3 , 300px);

    div{
        display: flex;
        margin-top:15px;

        .iconRight {
            display: flex;
            width: 40%;
            height: 100%;
            justify-content: center;
             align-items: center;
        }
      }
   .serviciosArreglo{
    grid-column: 1/5;
    margin-left:15px ;
    background-color:rgb(4, 38, 151);
    border-radius: 5%;
    color:white;
    .divLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        width: 60%;
        height: 100%;
        padding: 20px;
    }
  }
                                    
  .serviciosTuneo{
    grid-column: 4/8 ;
    margin-right: 15px;
    background: rgb(23, 105, 6);
    border-radius: 5%;
    color:white;
    .divLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        width: 60%;
        height: 100%;
        padding: 20px;
    }
  }                                      
  .serviciosCursos{
    grid-column: 2/4;
    padding: 15px;
    grid-row: 3/4;
    height: 90%;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(4, 38, 151); 
    color:white;
    border-radius: 5%;

    .divTop{
        height: 75%;
        width: 100%;
        display: flex;
        color:white;
        flex-direction: column;
        font-size: 0.9rem;
        overflow: hidden;
    }
    .iconButton{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }                            
  .serviciosVende{
    grid-column: 5/7;
    padding: 15px;
    grid-row: 3/4;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(23, 105, 6); ;
    color:white;
    border-radius: 5%;
        .divTop{
            height: 75%;
            width: 100%;
            display: flex;
            color:white;
            flex-direction: column;
            font-size: 0.9rem;
            overflow: hidden;
        }
        .iconButton{
            height: 25%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
   }   
  
} 
/* .serviciosContainer{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(3 , 300px);
   }
   .serviciosContainer div{
     display: flex;
     margin-top:15px;
   }
   .serviciosContainer .divLeft {
     display: flex;
     flex-direction: column;
     justify-content: space-around; 
     width: 60%;
     height: 100%;
     padding: 20px;
   }
   .serviciosContainer div .iconRight {
       display: flex;
       width: 40%;
       height: 100%;
       justify-content: center;
        align-items: center;
   }
   .serviciosContainer div div i{
     font-size: 2.5rem;
   }
   .serviciosArreglo{
     grid-column: 1/5;
     margin-left:15px ;
     background-color:rgb(4, 38, 151);
     border-radius: 5%;
     color:white
   }
   .serviciosTuneo{
     grid-column: 4/8 ;
     margin-right: 15px;
     background: rgb(23, 105, 6);
     border-radius: 5%;
     color:white
   }
   .serviciosCursos{
     grid-column: 2/4;
     padding: 15px;
     grid-row: 3/4;
     height: 90%;
     font-size: 0.8rem;
     width: 100%;
     display: flex;
     flex-direction: column;
     background-color:rgb(4, 38, 151); 
     color:white;
     border-radius: 5%;
   }
   .serviciosVende{
     grid-column: 5/7;
     padding: 15px;
     grid-row: 3/4;
     height: 90%;
     width: 100%;
     display: flex;
     flex-direction: column;
     background-color:rgb(23, 105, 6); ;
     color:white;
     border-radius: 5%;
   }
   .serviciosCursos .divTop ,
   .serviciosVende .divTop{
      height: 75%;
      width: 100%;
      display: flex;
      color:white;
      flex-direction: column;
      font-size: 0.9rem;
      overflow: hidden;
   }
   .serviciosArreglo .divLeft p ,
   .serviciosTuneo .divLeft p ,
   .serviciosCursos .divTop p ,
   .serviciosVende .divTop p{
     color:rgb(255, 238, 238);
   }
   .serviciosCursos .iconButton ,
   .serviciosVende .iconButton{
     height: 25%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   } */