/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
*/

                                     /*Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
h1 {
  color: rgb(23, 105, 6);
  font-size: 2.4rem;
  margin: 20px;
  text-align: center;
}
body{
  overflow-x: hidden;
}
/*Nuevo Header Boostrap */
header {
  background-color: white;
  display: flex;
  border: 2px solid rgb(23, 105, 6);
  /* align-items: center;
  justify-content: space-around; */
  width: 100vw;
}                                
.encabezado_logo img {
  width: 230px;
  height: 70px;
  margin-left: 20px;
}
 .containerNav div .ulNavBoostrap{
  margin-left: 25px;
}
.containerNav div form{
  margin-left: 45px;
}
nav .container-fluid ul li a{      /* hola vani , si te pregunatas porque hice tanto margin es porque no me permitio usar display flex  */
  font-size: 1.2rem;
} 
nav .container-fluid ul li a:hover{
  color:rgb(23, 105, 6);
}
nav .container-fluid form input:focus{
 border:4px solid  #198754;;
 box-shadow: none;
}
/*Footer */
.footer{
  border-top: 1px solid rgb(23, 105, 6);
  font-size: 1.2rem;
  color: rgb(23, 105, 6);
  padding: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}
.footer h3 {
  font-size: 1.5rem;
  color: rgb(9, 85, 9);
  margin-left: 30px;
}
.footerLeft ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footerLeft li {
  margin: 15px;
  padding: 15px;
}
.footer__facebook {
  color: #3b5998;
  text-decoration: none;
  padding: 15px;
  font-size: 1.6rem;
}
.footer__instagram {
  color: #ce9a0b;
  text-decoration: none;
  padding: 15px;
  font-size: 1.6rem;
}
.footer__linkedin {
  color: #0072b1;
  text-decoration: none;
  padding: 15px;
  font-size: 1.6rem;
}
.footerRightMedium ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.footerRightMedium ul li a {
  text-decoration: none;
  color: rgb(23, 105, 6);
}
.footerRightMedium li {
  padding-top: 5px;
}
.footerRightMedium ul li a:hover {
  border-bottom: 1px solid rgb(9, 85, 9);
}
.footerCopyright {
  border-top: 1px solid rgb(23, 105, 6);
  margin-top: 40px;
  grid-column: 2/3;
}
.footerCopyright h4{
  font-size: 1.4rem;
}
.footerCopyright i {
  color: black;
}
.footerCopyright h4:hover{
  color:rgb(4, 65, 4);
  cursor:pointer
}
.auto-animación{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}
.auto-animación :hover{
  animation: autoGiratorio 59s infinite;
} 
 @keyframes autoGiratorio {
  0%{
     transform: rotate(0deg);
  }
  100%{
    transform: rotate(1800deg);
  }
} 
.inputDivCookiesFooter form label{
  font-size: 1.0rem;
  padding: 5px;
}
.cookiesBoostrap .btn-light{
  background: none;
  border: none;
  outline: none;
  color:rgb(23, 105, 6);
  font-size: 1.2rem;
}
                                        /*Estilos Especificos */
/*Index*/
.encabezado_principal {
  width: 100%;
  height: 600px;
  background: url(../Imagenes-html/imagen-principal-coderhouse-HTML.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.encabezado_principal h2 {
  font-size: 2.8rem;
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}
.cuerpo_secciones {
  padding: 10px;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap:5px; 
  grid-template-rows: 300px;
}
.cuerpo_secciones .seccionContenido{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cuerpo_secciones h2{
  color: rgb(23, 105, 6);
  margin-left: 55px;
  margin-top: 5px;
  margin-right: 50px;
  font-size: 1.4rem;
}
.cuerpo_secciones p{
  color: rgb(23, 105, 6);
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 1.1rem;
}
.cuerpo_secciones p b{
  color: rgb(4, 38, 151);
}
.cuerpo_secciones .seccionesIndexImagen {
  border-right: 3px solid black;
  background-image: url(../Imagenes-html/sub-imagen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
}
.cuerpo_secciones .seccionesIndexImagen--2 {
  border-right: 3px solid black;
  background-image: url(../Imagenes-html/sub-imagen-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  order:1;
  justify-self: flex-end;
  width:90%
}
.conocenosIndex{
  width: 80vw;
  margin: 0px auto;
  height: 350px;
  border-radius: 4%;
  background-color:rgb(23, 105, 6);
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  margin-top: 20px;
}
.conocenosIndex .divLeftIndex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.conocenosIndex .divleftIndex1 > p ,
.conocenosIndex .divleftIndex1 > h2{ 
  color:white;         
  padding: 20px;
}
.conocenosIndex .divRightIndex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.conocenosIndex .divRightIndex i{
  font-size: 2.5rem;
  color:white
}
.conocenosIndex .divRightIndex button{
  background-color: #0072b1;
  color:white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
}
.seccionNuestrosClientes{
  height: 400px;
  width: 85vw;
  margin: 25px auto 0px auto;
}
.seccionNuestrosClientes h2{
  font-size: 1.5rem;
  color:rgb(16, 94, 16);
}
 #carouselExampleFade .carousel-item{
 display: grid;
 grid-template-columns: repeat(3 ,1fr); 
} 
.carousel-item div {
  width: 300px;
  height: 360px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 1px solid rgb(16, 94, 16);
 border-radius: 3%;
 justify-content: space-evenly;
}
.seccionNuestrosClientes .carousel-inner img{
  width: 120px;
  border-radius: 50%;
  height: 120px;
}
.seccionNuestrosClientes .carousel-inner .carousel-item p{
  font-size:0.9rem;
  padding: 15px;
}
.seccionNuestrosClientes .carousel-inner .carousel-item h2{
  font-size:1.2rem;
  color:black
}
.seccionNuestrosClientes i{
  color:rgb(43, 43, 201)
}
/*preguntasFrecuentes */
.sectionPreguntasFrecuentes{
  width: 96vw;
  margin:50px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-rows: repeat(4 ,270px); 
  gap: 35px  
} 
.sectionPreguntasFrecuentes .divContainerPreguntasFrecuentes{  
 /*  margin-bottom: 35px; */
 display: flex;
 flex-direction: column;
 justify-content: space-around;
} 
.sectionPreguntasFrecuentes  div h2 ,p {
  padding: 5px;
   color:rgb(23, 105, 6);
}
.sectionPreguntasFrecuentes .divContainerPreguntasFrecuentes h2{
  font-size: 1.5rem;
}
.sectionPreguntasFrecuentes .divContainerPreguntasFrecuentes p{
  font-size: 0.9rem;
}
.sectionPreguntasFrecuentes  b{
  color:rgb(4, 38, 151);
}
.sectionPreguntasFrecuentes  a{
  text-decoration: none;
  color:rgb(54, 82, 175)
}
.sectionPreguntasFrecuentes a:hover{
  border-bottom: 1px solid rgb(54, 82, 175)  ;
}
.divContainerPreguntasFrecuentesBottom{
  grid-column: 1/4;
  text-align: center;
  display: flex;
 flex-direction: column;
 justify-content: space-around;
}
/*Sobre nosotros */
.breadcrumb{
  display: flex;
  margin:10px 
}
.breadcrumb li{
  margin:5px
}
.sobreNosotrosImg{
  width: 98vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobreNosotrosImg img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  order: 1;
}
.sobreNosotrosImg div{
  width: 50%;
  height: 100%;
  color:white;
  background-color: #0072b1;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobreNosotrosImg div h2{
  font-size:1.6rem;
  margin-bottom: 20px;
}
.sobreNosotros{
  padding: 20px;
  font-size: 1.1rem;
}
.sobreNosotros h2 , b{
 color: rgb(4, 38, 151);
}
/*Sobre nosostros Servicios */
.serviciosContainer{
 display: grid;
 grid-template-columns: repeat(7 , 1fr);
 grid-template-rows: repeat(3 , 300px);
}
.serviciosContainer div{
  display: flex;
  margin-top:15px;
}
.serviciosContainer .divLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  width: 60%;
  height: 100%;
  padding: 20px;
}
.serviciosContainer div .iconRight {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
     align-items: center;
}
.serviciosContainer div div i{
  font-size: 2.5rem;
}
.serviciosArreglo{
  grid-column: 1/5;
  margin-left:15px ;
  background-color:rgb(4, 38, 151);
  border-radius: 5%;
  color:white
}
.serviciosTuneo{
  grid-column: 4/8 ;
  margin-right: 15px;
  background: rgb(23, 105, 6);
  border-radius: 5%;
  color:white
}
.serviciosCursos{
  grid-column: 2/4;
  padding: 15px;
  grid-row: 3/4;
  height: 90%;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:rgb(4, 38, 151); 
  color:white;
  border-radius: 5%;
}
.serviciosVende{
  grid-column: 5/7;
  padding: 15px;
  grid-row: 3/4;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:rgb(23, 105, 6); ;
  color:white;
  border-radius: 5%;
}
.serviciosCursos .divTop ,
.serviciosVende .divTop{
   height: 75%;
   width: 100%;
   display: flex;
   color:white;
   flex-direction: column;
   font-size: 0.9rem;
   overflow: hidden;
}
.serviciosArreglo .divLeft p ,
.serviciosTuneo .divLeft p ,
.serviciosCursos .divTop p ,
.serviciosVende .divTop p{
  color:rgb(255, 238, 238);
}
.serviciosCursos .iconButton ,
.serviciosVende .iconButton{
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Contacto */
.contacto {
  width: 50%;
  display: flex;
  margin: 20px auto;
  border: 2px solid rgb(23, 105, 6);
}
.contactoEncabezado {
  width: 100%;
  height: 250px;
  background-image: url(../Imagenes-html/personatrabajando_PF.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactoEncabezado h2 {
  color: rgb(36, 148, 11);
  font-weight: bold;
}
.contactoImagen {
  width: 50%;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Imagenes-html/imagen-principal-coderhouse-HTML.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contactoImagen h2 {
  color: white;
}
.contactoRight {
  width: 50%;
}
.contactoRight h2 {
  color: rgb(23, 105, 6);
  font-size: 1.8rem;
  margin-left: 15px;
}
.formFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
}
.formFlex input {
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}
.formFlex .contactoInputNoButtom {
  border-bottom: 1px solid rgb(43, 43, 235);
}
.formFlex .contactoMensaje {
  width: 100%;
  margin-bottom: 3px;
}
.formFlex .contactoMensaje textarea {
  resize: none;
  width: 100%;
  border-bottom: 1px solid rgb(43, 43, 235);
  height: 60px;
}
.formFlex.contactoInputButtom {
  width: 100%;
  margin-top: 30px;
}
.formFlex .contactoInputButtom input {
  background-color: rgb(20, 87, 7);
  height: 40px;
  color: white;
  font-size: 1.1rem;
}
.formFlex label {
  font-size: 1.4rem;
}
.formFlex .contactoInputNoButtom:focus {
  color: rgb(23, 105, 6);
  background-color: #ecf3f7;
}
.formFlex .contactoMensaje textarea:focus {
  color: rgb(23, 105, 6);
  background-color: #ecf3f7;
  outline: 1px solid rgb(43, 43, 235);
}
.formFlex .contactoInputButtom input:active {
  background-color: rgb(66, 105, 58);
}
/*Nuestras Sucursales */
.sectionPresentacionSucursales{
  display: flex;
  width: 100vw;
  height: 250px;
}
.encontranosDivSucursales{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color:white;
    width: 50%;
    background-color: #198754;
}
.sectionPresentacionSucursales img{
  width: 50%;
}
.h1Sucursales{
  text-decoration: overline;
}
.cardSucursales{
  width: 96vw;
  margin: 10px auto 0px auto;
}
.cardSucursales .row .card{
  margin-top:15px ;
  margin-left: 25px;
}
.cardSucursales .row .card iframe{
  width: 100%;
}
.btn-success{
  background-color:rgb(23, 105, 6);
  border: 1px solid rgb(23, 105, 6);
}
.btn-success:hover{
  background-color:rgb(23, 105, 6);
  border: 1px solid rgb(23, 105, 6);
}
.btn-success:active{
  background-color:rgb(23, 105, 6);
  border: 1px solid rgb(23, 105, 6);
}
/*Turnos */
.sacaTurno {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Imagenes-html/sacaTurno.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.seccionTurnos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:25px
}
.sacaTurno h1 {
  color: rgb(32, 107, 9);
  background-color: black;
  font-size: 1.9rem;
}
.seccionTurnos form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;   
  font-size: 1.2rem;
  width: 60%;
}
.seccionTurnos form h2 {
  color: rgb(23, 105, 6);
  text-align: center;
  margin-top: 10px;
}
.seccionTurnos form div {
  margin: 15px;
}
.seccionTurnos form div input {
  margin-left: 30px;
}
.seccionTurnos form .botonTurnos input {
  background-color: rgb(20, 87, 7);
  height: 40px;
  color: white;
  font-size: 1.1rem;
  width: 300px;
}
.seccionTurnos form .botonTurnos input:active {
  background-color: rgb(66, 105, 58);
} 
#carouselExampleSlidesOnly .carousel-inner{ 
  width: 450px;
  height: 400px;
  margin-left:30px;
  margin-top: 45px;
}
/*Media Query*/
@media screen and (max-width: 320px) {
  /*Header */
  .encabezado_logo img {
    width: 90%;
  }
/*Footer */
  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
    padding: 5px;
  }
  .footer h3 {
    font-size: 1.3rem;
    color: rgb(9, 85, 9);
  }
.footerLeft li {
    margin: 10px;
    padding: 10px;
  }
.footer__facebook ,
.footer__instagram ,
.footer__linkedin{
    font-size: 1.4rem;
    padding: 8px;
  }
.footerRightMedium{
  border-top: 1px solid rgb(23, 105, 6);
}
.footerCopyright {
   grid-column: 1/2;
}
#ResponsiveArriba{
  margin-bottom: 25px;
  margin-right: 20px;
}
  /*Index */
  .encabezado_principal {
    height: 450px;
    background-position: center;
  }
  .cuerpo_secciones {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .cuerpo_secciones .seccionContenido {
    justify-content: space-around;
    width: 100%;
    height: 300px;
  }
  .cuerpo_secciones h2 {
    margin: 50px 5px 20px 0;
  }
  .cuerpo_secciones p {
    margin: 30px 0 30px 0;
  }
  .cuerpo_secciones .seccionesIndexImagen,
  .cuerpo_secciones .seccionesIndexImagen--2 {
    display: none;
  }
  .conocenosIndex{
    height: 450px;
    width: 95vw;
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(2 ,1fr);
  }
  .conocenosIndex .divleftIndex1{
    width: 100%;
    height: 50%;
  }
  .conocenosIndex .divRightIndex{
    flex-direction: row;
    width: 100%;
    height:50% ;
  }
  .conocenosIndex .divleftIndex1 > p ,
.conocenosIndex .divleftIndex1 > h2{         
  padding: 14px;
}
  /*Preguntas Frecuentes */
  .sectionPreguntasFrecuentes{
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(9 , 270px);
  }
  .divContainerPreguntasFrecuentesBottom{
    grid-column: 1/2;
  }
  /*Sobre nosotros servicios */
  .serviciosContainer{
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(4 ,1fr);
  }
  .serviciosContainer div{
    flex-direction: column;
    grid-column: 1/2;
  }
  .serviciosContainer .divLeft{
      width: 100%;
  }
  .serviciosCursos{
    grid-row: 4/5;
    grid-column: 1/2;
    display: block;
  }
  /*Contacto */
  .contacto {
    width: 85%;
    border: 2px solid rgb(23, 105, 6);
    height: 530px;
  }
  .contactoImagen {
    display: none;
  }
  .contactoRight {
    width: 100%;
  }
  /* Turnos */
  .seccionTurnos form {
    font-size: 1.1rem;
    width: 95%;
  }
  .seccionTurnos form div {
    margin: 15px 0;
  }
  .seccionTurnos form div input {
    margin-left: 5px;
  }
  .seccionTurnos form .botonTurnos input {
    width: 150px;
    margin-right: 15px;
  }
  #carouselExampleSlidesOnly{
    display: none;
  }
}
